<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207014750013-oca516hjk8lfkkj7j5qo4730ai32mc07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207014750013-oca516hjk8lfkkj7j5qo4730ai32mc07</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>207014750013-981sqjap39fjp0h2gb5sesv9hukl28qp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgxs-h4MOAIlbenegZe0q4_OZkmOU1kH4</string>
	<key>GCM_SENDER_ID</key>
	<string>207014750013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.happynurse.app</string>
	<key>PROJECT_ID</key>
	<string>happynurse-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>happynurse-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207014750013:ios:14dee6fe4975c7cd010754</string>
</dict>
</plist>